<div class="charge-rn-dashboard">
  <div class="view-tabs">
    <%= link_to "Staff Tasks", dashboard_charge_rn_path(view: 'staff_tasks'), 
                class: "view-tab #{@view_mode == 'staff_tasks' ? 'active' : ''}" %>
    <%= link_to "Floor View", dashboard_charge_rn_path(view: 'floor_view'), 
                class: "view-tab #{@view_mode == 'floor_view' ? 'active' : ''}" %>
    <% if @view_mode == 'staff_tasks' && @overdue_tasks && @overdue_tasks.any? %>
      <span class="badge badge-danger"><%= @overdue_tasks.count %></span>
    <% end %>
  </div>

  <% if @view_mode == 'floor_view' %>
    <%= render 'floor_view' %>
  <% else %>
    <%= render 'staff_tasks' %>
  <% end %>
</div>